## Question 1. Check Python Version

In [4]:
!python --version

Python 3.10.12

## Question 2. Perform Operation Using the Operands 2 and 4

In [5]:
print(3 + 2)   # addition(+)

5

In [6]:
print(3 - 2)   # subtraction(-)

1

In [7]:
print(3 * 2)   # multiplication(*)

6

In [8]:
print(3 / 2)   # division(/)

1.5

In [9]:
print(3 ** 2)  # exponential(**)

9

In [10]:
print(3 % 2)   # modulus(%)

1

In [11]:
print(3 // 2)  # Floor division operator(//)

1

## Question 3. Write the Following Strings

In [15]:
print('James') #My Name

James

In [12]:
print('Williams') # Family Name

Williams

In [13]:
print('Nigeria') #Country

Nigeria

In [14]:
print('I am engoying 30 days of Python')

I am engoying 30 days of Python

## Question 4. Check Data Types

In [16]:
print(type(10))                  # Int

<class 'int'>

In [ ]:
print(type(9.8))                # Float

In [17]:
print(type(3.14))             # Float

<class 'float'>

In [18]:
print(type(4-4j))             #Complex number

<class 'complex'>

In [20]:
print(type(['Asbeneh', 'Python', 'Finland']))     #List

<class 'list'>

In [19]:
print(type('James'))        #Str

<class 'str'>

In [ ]:
print(type('Williams'))     #Str

In [ ]:
print(type('Nigeria'))      #Str

## Question 3. Write Different Data Type Data Types

In [22]:
print(247) #integer
print(2.47) #float
print(2 + 3j) #complex
print('This is Python Program') #String
print(True) #Boolean
print([247, 2.47, 2+3j, 'This is Python program', True]) #List
print((247, 2.47, 2+3j, 'This is Python program', True)) #tuple
print({'abc', 247, 2.47, 'This is Python program'}) #Set
print({'a':'abc', 'c':247, 'd':2.47, 'e':'This is Python program'}) #Dictionary

247
2.47
(2+3j)
This is Python Program
True
[247, 2.47, (2+3j), 'This is Python program', True]
(247, 2.47, (2+3j), 'This is Python program', True)
{'a': 'abc', 'c': 247, 'd': 2.47, 'e': 'This is Python program'}
{2.47, 'This is Python program', 'abc', 247}

## Question 4. Find the Euclidean Distance.

In [25]:
# this is using the pythagoras equation to solve the slope distance betwwen two points on a graph

changeIn_x = (2,3)
changeIn_y = (10,8)
Euclid_distance = ((changeIn_y[1] - changeIn_y[0])**2 + (changeIn_x[1] - changeIn_x[0])**2)**0.5
round(Euclid_distance, 2)
print('Euclid distance : ', round(Euclid_distance, 2))

Euclid distance :  2.24