# Sets Exercise Level 1

In [29]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

#1.
print('lenght of the set: ', len(it_companies))

#2.
it_companies.add('Twitter')
print(it_companies)

#3.
itcom = ('nvida', 'X', 'Yahoo')
it_companies.update(itcom)
print(it_companies)

#4.
it_companies.remove('Apple')

#5.
#remove method can only function when the item to remove is in the set of items
#howeveer, discard will not give a trace back error even if the item is not in the set

lenght of the set:  7
{'Oracle', 'Amazon', 'Google', 'Facebook', 'Apple', 'Twitter', 'Microsoft', 'IBM'}
{'X', 'Amazon', 'Google', 'Facebook', 'nvida', 'Apple', 'Twitter', 'Microsoft', 'Oracle', 'Yahoo', 'IBM'}

# Sets Exercises: Level 2

In [31]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

#1.
A.union(B)
print(A)

{19, 20, 22, 24, 25, 26}

In [6]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

#2.
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

In [9]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#3.

print('Is A subset of B:', A.issubset(B))

#4.
print('Is A and B disjoint: ', A.isdisjoint(B))

#5.
A.join(B)
B.join(A)

Is A subset of B: True
Is A and B disjoint:  False

In [14]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

#6.
print(A.symmetric_difference(B))

{15.4, 27, 28}

In [16]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

del A
del B

In [21]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


ages = set(age)
print(type(ages))
print('lenght of list > Set ? ', len(age) > len(ages))
print('lenght of list == Set ? ', len(age) == len(ages))
print('lenght of list < Set ? ', len(age) < len(ages))

<class 'set'>
lenght of list > Set ?  True
lenght of list == Set ?  False
lenght of list < Set ?  False

# Sets Exercises: Level 3
# the difference between the different data types are shown below:

|String|List|Tuple|Set|
-------|----|-----|---|
|data is wrapped in ' ' or " "| data is wraped in square brackets with ',' separation| data is wrapped in brackets with ',' separation| data is wrapped in curly brackets|

In [28]:
#3.
strin = 'I am a teacher and I love to inspire and teach people'
words = set(strin.split())
print(words)
print('There are ', len(words), ' unique words')

{'a', 'am', 'inspire', 'love', 'teacher', 'teach', 'people', 'I', 'to', 'and'}
There are  10  unique words